"*":
    core: {}
    "exception-reporting":
      userId: "3a99551b-0931-5a8c-5c51-304373e7f85d"
    "sync-settings":
      gistId: "{{ gistId }}"
      personalAccessToken: "{{ personalAccessToken }}"
